@font-face {
  font-family: 'QuattrocentoSans';
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf')  format('truetype')
}
html{overflow-x:hidden;font-family: 'QuattrocentoSans', 'PT Sans', sans-serif;font-size: 14px;background: #FFF}
body{font-family: 'QuattrocentoSans', 'PT Sans', sans-serif;font-size: 14px;color:#333;background: #FFF;overflow: hidden;}
a{color: #333;font-size: 14px}
h1, h2, h3, h4, h5, h6{font-family: 'QuattrocentoSans', 'PT Sans', sans-serif;color:#333;line-height: normal;}
.clearfix:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
[class*="col-"] {
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    min-height: 1px;
}
.row{margin-left: -7px;margin-right: -7px}
select.form-control {
    height: 30px;
    border: 1px solid #eee;
}
.top-header {
    border-bottom: 1px solid #e6e9ed;
    color: #6d6e71;
}
.top-header .nav-link {
    display: inline-block;
    padding: 15px 7px;
    text-transform: uppercase;
    color: #6d6e71;
}
.sub-navi {
    padding-right: 70px;
    display: inline-block;
    float: right;
}
.sub-navi .nav-link {
    color: #a7a9ac
}
.user-bar {
    display: inline-block;
    padding: 0 50px;
    border-right: 1px solid #e6e9ed;
    border-left: 1px solid #e6e9ed;
    float: right;
}
.end-bar{
    display: inline-block;
    margin-right: 30px;
    float: right;
}
.end-bar .nav-link-blue{
    background: #009be0;
    color: #FFF !important;
    padding: 15px 30px !important;
}
.bottom-header {
    padding: 20px 0;
}
.cart-mini .round-cart {
    display: inline-block;
    color: #a1b93d;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid #a1b93d;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}
.cart-mini .round-cart span {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -7px;
    line-height: normal;
    color: #FFF;
    background: #a1b93d;
    font-size: 64%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.cart-mini {
    display: inline-block;
    position: relative;
}
.link-call-me {
    display: inline-block;
    padding: 0 60px;
    font-size: 184%;
    color: #231f20;
    vertical-align: middle;
}
.search-bar {
    display: inline-block;
}
.search-bar {
    display: inline-block;
    background: #f1f2f2;
    padding: 0 50px 0 0;
    position: relative;
    border-radius: 30px;
    width: 35%;
}
.search-bar .input-search {
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 20px;
}
.search-bar .btn-search {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    line-height: 38px;
}
.wrap-cotrol{
    padding: 15px 0
}
.navi-top {
    background: #231f20
}
.nav-main .navbar-nav {
    padding: 5px 0;
}
.nav-main .navbar-nav .nav-link{
    color: #FFF;
    font-size: 110%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-main .navbar-nav .nav-item{
    position: relative;
}
.nav-main .navbar-nav .nav-item.active .nav-link,
.nav-main .navbar-nav .nav-item:hover .nav-link{
    border-top: 1px solid #009be0;
    border-bottom: 1px solid #009be0;
    color: #009be0
}
.nav-main .navbar-nav .nav-link > .inner-text{
    display: inline-block;
    vertical-align: middle;
}
.nav-main .navbar-nav .nav-link > .direct-drop{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 50%;
}
.nav-main .navbar-nav .nav-item > .dropdown-menu {
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    border: none;
    background-color: #231f20;
    padding-top: 5px;
}
.nav-main .navbar-nav .nav-item > .dropdown-menu li{

}
.nav-main .navbar-nav .nav-item > .dropdown-menu li>a{
    display: block;
    padding: 10px;
    color: #FFF;
    position: relative;
    padding-right: 20px
}
.nav-main .navbar-nav .nav-item > .dropdown-menu li>a>.direct-drop{
    font-size: 60%;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: -10px
}
.nav-main .navbar-nav .nav-item:hover > .dropdown-menu{
    display: block;
}
.case-product {
    padding: 80px 0;
}
.col-padd-empty [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
}
.col-padd-empty .row{margin-left: 0;margin-right: 0}
.nav.tcase-product{
    margin-bottom: 55px;
}
.nav.tcase-product .nav-link{
    display: block;
    padding: 15px 0;
    background: #f1f2f2;
    font-size: 110%;
    position: relative;
}
.nav.tcase-product [class*="col-"] {
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    min-height: 1px;
}
.nav.tcase-product .row{margin-left: -1px;margin-right: -1px}
.nav.tcase-product .nav-item+.nav-item{
    margin-left: 0
}
.nav.tcase-product .nav-link.active{
    background: #009be0;
    color: #FFF
}
.nav.tcase-product .nav-link.active:after{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #009be0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
}
.product-sm .thumb-product{
    text-align: center;
    position: relative;
    padding: 20px
}
.product-sm .thumb-product img{
    display: inline-block;
}
.product-sm .action-sm-product,
.product-sm .action-product{
    display: none;
    z-index: 9;
    position: absolute;
}
.product-sm .action-sm-product{
    top: 50%;
    left: 0;
    right: 0;
}
.product-sm .action-product{
    bottom: 20px;
    left: 0;
    right: 0
}
.product-sm .thumb-product:after,
.product-sm .info-product:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .6);
    z-index: 1;
    display: none;
}

.product-sm .btn-sm-ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 120%;
}
.product-sm .btn-sm-ico:hover{
    border: 1px solid #a1b93d;
    background: #a1b93d;
    color: #FFF
}
.product-sm .btn-sm-ico+.btn-sm-ico{
    margin-left: 10px
}
.product-sm .info-product{
    position: relative;
    padding: 0 20px 40px 20px
}
.product-sm .rating-product{
    color: #f7941d;
    margin-bottom: 25px;
}
.product-sm .code-product{
    color: #a7a9ac;
}
.product-sm .name-product{
    margin-bottom: 25px;
    font-size: 120%;
}
.product-sm .name-product a{
}
.product-sm .price-sale{
    display: block;
    color: #e40314
}
.product-sm .price-refurbished{
    display: block;
    color: #6d6e71
}
.product-sm:hover .action-sm-product,
.product-sm:hover .thumb-product:after,
.product-sm:hover .action-product{
    display: block;
}
.product-sm:hover .price-product{
    visibility: hidden;
}
.product-sm:hover .rating-product{
    color: #333
}
.btn.btn-style {
    background: #a1b93d;
    padding: 10px 40px;
    border-radius: 30px;
    color: #FFF;
}
.btn.btn-style:hover{
    background: #009be0;
    color: #FFF;
}
.btn.btn-style-c {
    background: #009be0;
    padding: 10px 40px;
    border-radius: 30px;
    color: #FFF;
}
.btn.btn-style-c:hover{
    background: #a1b93d;
    color: #FFF;
}
.list-product{
    margin-bottom: 50px;
    position: relative;
    padding: 0
}
.list-product:before,
.list-product:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #eeeeee
}
.list-product:before{
    left: 33.333333%
}
.list-product:after{
    left: 66.666666%
}
.line-grid {
    height: 1px;
    background: #eeeeee;
    position: relative
}
.list-product .line-grid:before,
.list-product .line-grid:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: #FFF;
    position: absolute;
    top: -15px
}
.list-product .line-grid:before{
    left: 33.333333%;
    margin-left: -15px;
}
.list-product .line-grid:after{
    left: 66.666666%;
    margin-left: -15px;
}
.case-quote {
    padding: 30px 0;
    margin-bottom: 65px
}
.case-inner-quote{
    background: #26358c;
    position: relative;
}
.form-quote {
    margin: -30px 0;
    background: #fcfcfc;
    border: 10px solid #FFF;
    border-radius: 2px;
    box-shadow: -2px 0 8px 0 rgba(0,0,0,.1);
    position: relative;
    z-index: 2
}
.header-from-quote {
    background: #25378e;
    background: -moz-linear-gradient(top, #25378e 0%, #0198dd 100%);
    background: -webkit-linear-gradient(top, #25378e 0%,#0198dd 100%);
    background: linear-gradient(to bottom, #25378e 0%,#0198dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25378e', endColorstr='#0198dd',GradientType=0 );
    padding: 40px;
    color: #FFF;
    text-align: center;
}
.title-from-quote {
    color: #FFF;
    font-size: 220%;
    margin-bottom: 10px;
}
.info-quote {
    padding: 50px 0;
    color: #FFF;
    position: relative;
    z-index: 2
}
.title-quote {
    color: #FFF;
    font-size: 230%;
    margin-bottom: 40px;
}
.rating-quote {
    background: #FFF;
    color: #333;
    padding: 10px 0;
    margin-bottom: 55px
}
.description-quote {
    margin-bottom: 40px;
}
.inline-rtq {
    display: inline-block;
    padding: 0 30px;
}
.inline-rtq+.inline-rtq{
    border-left: 1px solid #6d6e71
}
.star-rtq {
    color: #f7941d;
}
.btn.btn-style-a {
    background: transparent;
    padding: 10px 40px;
    border-radius: 30px;
    color: #FFF;
    border: 1px solid #FFF;
}
.main-form-quote {
    padding: 30px 25px;
}
.main-form-quote .form-group{}
.main-form-quote .form-control {
    border-radius: 0;
    border-color: #eeeeee;
}
.main-form-quote input.form-control,
.main-form-quote select.form-control{
    height: 40px;
}
.btn.btn-style-b {
    background: #009be0;
    padding: 10px 40px;
    border-radius: 0;
    color: #FFF;
    border: 1px solid #FFF;
}
.title-feature {
    text-align: center;
    font-size: 240%;
    margin-bottom: 0;
    padding: 40px 0;
}
.item-feature {
    border: 1px solid #f1f2f2;
    text-align: center;
    padding: 0 10px 30px 10px;
    margin-bottom: 15px
}
.item-feature.old {
    background: #f1f2f2;
}
.thumb-feature {
    height: 100px;
    line-height: 100px;
    font-size: 220%;
}
.name-feature {
    font-size: 120%;
    margin-bottom: 0;
    height: 50px;
}
.item-feature:hover .thumb-feature{
    color: #009be0
}
.color-blue{
    color: #009be0
}
.case-top-feature{
    margin-bottom: 40px
}
.title-supplier {
    text-align: center;
    font-size: 140%;
    margin-bottom: 10px;
}
.list-supplier {
    padding: 40px 0;
}
.case-upgrate{
    background: #8cc152;
    padding: 40px 0;
    color: #FFF
}
.title-upgrate{
    color: #FFF
}
.footer {
    background: #231f20;
    color: #a7a9ac;
}
.top-footer {
    padding: 80px 20px;
    border-bottom: 1px solid #4d4c4c;
}
.bottom-footer {
    padding: 40px 20px;
}
.copy-right {
    color: #a7a9ac;
}
.pay-support img{
    display: inline-block;
}
.title-footer {
    color: #009be0;
    margin-bottom: 40px;
    font-size: 120%;
}
.sub-col-footer {
    margin-bottom: 20px;
}
.title-ms-footer {
    font-size: 130%;
}
.footer-link {
    display: block;
    color: #a7a9ac;
}
.footer-link:hover{
    color: #009be0;
}
.letter-form {
    position: relative;
    background: #4d4c4c;
    padding-right: 40px;
}
.letter-form input {
    display: block;
    width: 100%;
    padding: 0 10px;
    background: transparent;
    border: none;
    height: 30px;
    outline: none;
}
.letter-form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 40px;
    background: transparent;
    border: none;
}
.link-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #a7a9ac;
    border-radius: 50%;
}
.link-social:hover{
    background: #ccc
}
.link-social+.link-social{
    margin-left: 10px
}
.owl-theme .owl-controls {
    margin-top: 0;
}
.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li .bc-dr {
    display: none;
}
.breadcrumbs a,
.breadcrumbs span{
    display: inline-block;
    color: #a7a9ac;
    text-transform: uppercase;
    padding: 10px 0;
    vertical-align: middle;
}
.breadcrumbs span{
    color: #009be0;
}
.breadcrumbs a:after{
    content: ">>";
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle
}
.wrap-breadcrumbs {
    background: #f1f2f2;
}
.breacums {
    background: #f1f2f2;
}
._listings {
    padding: 40px 0;
}
.title-listing {
    color: #009be0;
    font-size: 240%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}
.description-listing {
    font-size: 120%;
    margin-bottom: 30px;
    color: #6d6e71
}
.bar-filter {
    background: #f1f2f2;
    padding: 20px 30px;
    font-size: 120%;
    margin-bottom: 40px
}
.num-of-result {
    color: #a7a9ac;
    font-style: italic;
}
.select-filter {
    height: 30px;
    border: none;
    background: #ffffff;
    width: 50%;
    color: #a7a9ac;
}
.switche-view {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #FFF;
    color: #f1f2f2;
}
.switche-view.active {
    color: #009be0;
}
.title-general {
    padding: 15px 20px;
    background: #009be0;
    color: #FFF;
    font-size: 160%;
    position: relative;
    border-top: 4px solid #26358c;
    margin-bottom: 0;
}
.ds-general {
    padding: 20px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.rm-general {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    transform: translateY(-50%);
    color: #FFF;
}
.nav-category {
    padding: 0;
    list-style: none;
    margin: 0;
}

.nav-category li{
    position: relative;
}

.nav-category a{
    display: block;
    padding: 6px 0;
    color: #6d6e71;
    position: relative;
    padding-right: 30px
}
.nav-category .number-in{
    position: absolute;
    top: 50%;
    right: 10px;
    color: #a7a9ac;
    transform: translateY(-50%);
}
.nav-category li:hover >a{
    color: #009be0
}
.sub-general+.sub-general {
    padding-top: 40px;
    border-top: 1px solid #eee;
    margin-top: 40px;
}
.sm-price-bar [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    min-height: 1px;
}
.sm-price-bar .row{margin-left: -2px;margin-right: -2px}
.sm-price-bar .form-control{
    border-radius: 0;
    border: 1px solid #eee
}
.sm-price-bar .btn{
    padding: .375rem 1rem;
    height: 26px;
    font-size: 75%;
}
.btn.btn-style-sm {
    padding: 8px 30px;
}
.general-box {
    margin-bottom: 40px;
}
.contact-sm .form-control{
    border-radius: 0;
    border: 1px solid #eee
}
.group-heading {
    padding: 0 0 20px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.group-heading .title-box{
    margin-bottom: 0
}
.owl-carousel .product-sm{
    border-right: 1px solid #eee
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    background: #009be0;
    width: 24px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #FFF;
    margin-top: -50px;
    font-size: 84%;
}
.owl-carousel .owl-prev.nav-owl-disabled,
.owl-carousel .owl-next.nav-owl-disabled{
    background: #f1f2f2;
    color: #a2a2a2
}
.owl-carousel .owl-prev{
    left: -50px;
}
.owl-carousel .owl-next{
    right: -50px;
}
.group-product {
    margin-bottom: 40px;
}
.tab-content-detail {
    padding: 40px 0;
    background: #f1f2f2;
    margin-bottom: 40px;
}
.nav-tab-detail{}
.nav-tab-detail .nav-item{

}
.nav-tab-detail .nav-item+.nav-item{
    margin-left: 0
}
.nav-tab-detail .nav-link{
    display: block;
    padding: 15px 0;
    text-align: center;
    border:1px solid #f1f2f2;
    color: #231f20;
    position: relative;
    font-size: 120%;
}
.nav-tab-detail .nav-link.active{
    background: #009be0;
    color: #FFF
}
.nav-tab-detail .nav-link.active:after{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f2f2;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
.top-detail {
    padding: 40px 0 70px 0;
}
.main-slider-detail{
    border: 1px solid #eee;
    margin-bottom: 10px;
    overflow: hidden
}
.details-product .product-code {
    color: #a7a9ac;
    margin-bottom: 20px;
}
.details-product .product-name {
    margin-bottom: 20px;
}

.details-product .rating-product{
    margin-bottom: 20px;
}

.details-product .star-product{
    color: #f7941d
}

.details-product .types-product{
    padding: 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.details-product .coz-list-extensions{
    margin-bottom: 20px;
}
.plugin-quantity {
    padding: 0 20px;
    position: relative;
}
.plugin-quantity .quantity-down {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    font-size: 60%;
    line-height: 40px;
    background: #f1f2f2;
    text-align: center;
    color: #a7a9ac;
    cursor: pointer;
}
.plugin-quantity input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    text-align: center;
    color: #333;
}
.plugin-quantity .quantity-up {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    font-size: 60%;
    line-height: 40px;
    background: #f1f2f2;
    text-align: center;
    color: #a7a9ac;
    cursor: pointer;
}
.btn-add-cart {
    background: #a1b93d;
    padding: 10px 40px;
    border-radius: 0;
    color: #FFF;
    border: 1px solid #FFF;
}
.btn-add-cart:hover{
    background: #009be0;
    color: #FFF;
}
.grid-boot-sm [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    min-height: 1px;
}
.grid-boot-sm .row{margin-left: -2px;margin-right: -2px}
.itype-product {
    margin-bottom: 0;
    color: #6d6e71;
}
.product-arside {
    margin-bottom: 70px;
    text-align: center;
}
.product-contact-link {
    font-size: 140%;
    margin-bottom: 20px;
}
.product-contact-link a{
    text-decoration: underline;
    font-size: 100%
}
.shipping-rule {
    background: #f1f2f2;
    text-align: center;
    padding: 15px;
}
.grid-boot-sm {
    margin-bottom: 10px;
}
.item-shipping-rule {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
}
.item-shipping-rule .fa{
    color: #009be0
}
.sale-flash {
    background: #fff704;
    text-align: center;
    padding: 0 20px;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 84%;
    display: inline-block;
    position: relative;
}
.sale-flash:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff704;
    border-left: 20px solid transparent;
}
.product-sm .sale-flash{
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9
}
.mini-products-list .product-image{float:left}
.mini-products-list .detail-item{margin-left:92px}
.top-cart-content .product-details {
    color: #333;
    position: relative;
    text-align: left;
    padding: 0;
}
.top-cart-content .product-name {
    margin: 0;
    width: 150px;
    line-height: 1;
    padding: 0 0 5px;
}
.top-cart-content .product-name a {
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    color: #333;
}
.mini-products-list .detail-item .product-details-bottom .price {
    color: #1e693a;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}
.mini-products-list .detail-item .product-details-bottom .title-desc {
    font-size: 14px;
}
.mini-products-list .fa-remove {
    position: absolute;
    right: 0;
}
.li-fix-2 {
    display: block;
}
.top-cart-content .actions {
    padding: 15px 10px;
    margin: 0;
    background: #f5f5f5;
}
.cart-mini .actions .btn-checkout {
    background: #252525;
    color: #fff;
    font-size: 11px;
    padding: 8px 16px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    float: right;
    transition: color 300ms ease-in-out 0s,background-color 300ms ease-in-out 0s,background-position 300ms ease-in-out 0;
    border: 1px solid #fff;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 48%;
    text-align: center;
}
.cart-mini .actions .view-cart:hover{
    background: #a1b93d;
    color: #FFF
}
.cart-mini .actions .view-cart {
    background: #009be0;
    color: #fff;
    font-size: 11px;
    padding: 8px 5px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    float: left;
    transition: color 300ms ease-in-out 0s,background-color 300ms ease-in-out 0s,background-position 300ms ease-in-out 0;
    border: 1px solid #fff;
    font-weight: 700;
    text-transform: uppercase;
    width: 48%;
    text-align: center;
}
.cart-mini .actions .view-cart:hover,
.cart-mini .actions .btn-checkout:hover{
    background: #a1b93d;
    color: #FFF
}
.mini-products-list {
    border: 1px solid #f1f1f1;
}
.top-cart-content {
    width: 300px;
}
.dropdown-menu.coz-dropdown-menu:before {
    left: inherit !important;
}
.navi-owl a.nav-owl-disabled {
    color: #ccc;
    cursor: no-drop;
}
.coz-dropdown-menu .dropdown-label {
    display: block;
    padding: 10px 20px;
    background: #a1b93d;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
}
.coz-dropdown-menu  .dropdown-item {
    padding: 6px 30px 6px 10px;
    width: auto;
    font-size: 12px;
    border: 1px solid #f1f1f1;
    border-top: none;
}
.top-cart-content {
    width: 300px;
}
.cart-mini .dropdown-menu {
    left: initial !important;
    right: 0 !important;
}
.dropdown-menu.coz-dropdown-menu {
    border: none;
    padding: 0;
    margin-top: 10px;
    border-radius: 0;
}

.dropdown-menu.coz-dropdown-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #a1b93d;
    position: absolute;
    top: -9px;
    left: 18px;
}
.cart-mini .dropdown-menu:before {
    left: inherit !important;
    right: 16px !important;
}
.thumb-slider-detail {
    padding: 0 30px;
}
.thumb-slider-detail .owl-carousel .owl-prev,
.thumb-slider-detail .owl-carousel .owl-next {
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
}
.thumb-slider-detail .owl-carousel .owl-prev{
    left: -30px
}
.thumb-slider-detail .owl-carousel .owl-next{
    right: -30px
}
.img-item-thumb{
    border: 1px solid #eeeeee
}
.details-product .product-description {
    margin-bottom: 20px;
    color: #6d6e71;
}
.btn-more-product-description {
    display: inline-block;
    color: #009be0;
}
.back-to-top {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #009be0;
    display: block;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #FFF;
    transform: rotate(45deg);
    z-index: 9999;
    display: none;
}
.back-to-top .fa{
    transform: rotate(-45deg);
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.pagination>li{display: inline;}
.pagination>li>a {
    margin: 0 2.5px;
    padding: 7px 12px;
    line-height: 24px;
    color: #636363;
    border-radius: 0;
    border: none;
    text-decoration: none;
    border-bottom: 1px transparent solid;
    background: #ffffff;
}
.pagination>li:first-child>a{
    margin-left: 0
}
.pagination>li>a:focus, .pagination>li>a:hover,
.pagination>li.active>a {
    cursor: pointer;
    background: #009be0;
    color: #FFF;
}
/*custom ranger*/
.irs-from, .irs-to, .irs-single,.irs-min, .irs-max,.irs-line-left, .irs-line-mid, .irs-line-right{display: none;}
.irs-with-grid .irs-grid{display: none;height: 3px;}
.irs-bar{
    height: 3px;
    top: 10px;
}
.irs-bar {
    background: #ccc;
    height: 5px;
}
.irs-slider {
    width: 16px;
    height: 16px;
    padding: 2px;
    top: 5px;
    background: #FFF;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.irs-slider:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #cccccc;
    border-radius: 50%;
}
.irs-line {
    height: 6px;
    background: #FFF;
    top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.price-from-to {
    color: #969696;
    text-transform: uppercase;
}
.irs, .irs-with-grid {
    height: 22px;
}
.wrap-ranger-price {
    margin-bottom: 20px;
}
.user-bar-mm {
    display: inline-block;
    position: relative;
}
.btn-togle-mm {
    display: inline-block;
    padding: 12px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: #231f20;
    border-radius: 50%;
    margin-left: 10px;
}
.btn-togle-mm span {
    display: block;
    height: 2px;
    background: #FFF;
}
.btn-togle-mm span+span {
    margin-top: 5px;
}
.btn-togle-mm:hover span{
    background: #009be0
}
.search-bar-mm {
    background: #333;
    position: relative;
    z-index: 9;
}
.search-bar-mm .search-bar {
    display: block;
    background: transparent;
    padding: 0 50px 0 0;
    position: initial;
    border-radius: 0;
    width: auto;
}
.search-bar-mm .search-bar .btn-search,
.search-bar-mm .search-bar .input-search {
    color: #FFF;
}
.tcase-product.tcase-product-mm {
    margin-bottom: 0;
}
.tab-pane .tcase-product-mm .nav-item {
    display: block;
    float: none;
}
.tab-pane.active .tcase-product-mm .nav-link {
    background: #009be0;
    color: #FFF;
}
.nav.tcase-product-mm .nav-link:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 84%;
}
.tab-pane.active .nav.tcase-product-mm .nav-link:after{
    content: "\f078";
}
.owl-carousel.owlFeature .owl-prev, 
.owl-carousel.owlFeature .owl-next,
.owl-carousel.owlSupplier .owl-prev, 
.owl-carousel.owlSupplier .owl-next{
    display: none !important;
}
/*loading button*/
.btn:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -moz-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;
}
.btn:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-left-color: transparent;
    border-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-name: btn_ld_rotate;
    -webkit-animation-name: btn_ld_rotate;
    animation-name: btn_ld_rotate;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.btn{
    position: relative;
}
.btn.btn-loading:before {
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.btn.btn-loading::after {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    width: 20px;
}
@keyframes btn_ld_rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*contact*/
.title-contact {
    margin: 0;
    padding: 20px 0;
}
.map-canvas{
    padding: 5px;
    background: #eee;
    margin-bottom: 40px;
}
.info-contact {
    margin: 0 0 40px 0;
    font-size: 14px;
    font-weight: 400;
    border: 1px #eee solid;
    padding: 30px 20px;
}
.item-info-contact{
    margin-bottom: 20px
}
.form-contact-page .form-control {
    border-radius: 0;
    border: 1px solid #eee;
}
.form-contact-page {
    margin-bottom: 50px;
}
.title-form-contact {
    margin-bottom: 30px;
}
.blog-template, .login-content{
    padding: 40px 0
}
.item-blog{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.item-sm-blog .blog-item-title h2 {
    margin: 0;
    font-size: 100%;
    color: #333;
}
.item-sm-blog .blog-item-title p {
    font-size: 84%;
    color: #999;
    margin: 10px 0px;
}
.login-content .form-heading {
    font-size: 130%;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
}
.login-content .form-login .form-description {
    font-size: 120%;
    color: #666666;
    padding: 10px 0 20px 0;
}
.login-content input.form-control{
    border: 1px solid #eee;
    border-radius: 0
}
.icon{
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
}
.icon.i-phone{
    width: 35px;
    height: 35px;
    background-position: 0 0;
    margin-top: -1px
}
.link-call-me-mm {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 8px 0;
    width: 50px;
    text-align: center;
}
.psm-sort {
    display: table-row;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.psm-isort {
    display: table-cell;
    width: 30px;
    vertical-align: middle;
    padding: 10px 0;
}
.psm-nsort {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 15px;
    white-space: normal;
}
.ipsm-sort{
    display: table;
    width: 100%
}
.search-bar .xdsoft_autocomplete .xdsoft_autocomplete_dropdown{
    left: 20px !important;
    border: none
}
.psm-isort img {
    max-width: 100%;
}
.search-bar-mm .xdsoft_autocomplete{
    position: initial !important;
}
.search-bar-mm  .xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
    left: 0 !important;
    width: 100% !important;
    border: none;
}
@media (max-width: 991px){
    .container {
        max-width: 98%;
    }
    .top-header .nav-link {
        padding: 15px 5px
    }
    .user-bar {
        padding: 0 10px
    }
    .sub-navi {
        padding-right: 10px;
    }
    .end-bar {
        margin-right: 0;
    }
    .end-bar .nav-link-blue {
        padding: 15px 15px !important;
    }
    .link-call-me {
        font-size: 120%;
        padding: 0 10px;
    }
    .owl-carousel.owlFeature .owl-prev, 
    .owl-carousel.owlFeature .owl-next,
    .owl-carousel.owlSupplier .owl-prev, 
    .owl-carousel.owlSupplier .owl-next{
        display: block!important;
        background: transparent;
        color: #a9abae;
        font-size: 390%;
    }
    .owl-carousel.owlFeature .owl-prev:hover, 
    .owl-carousel.owlFeature .owl-next:hover,
    .owl-carousel.owlSupplier .owl-prev:hover, 
    .owl-carousel.owlSupplier .owl-next:hover{
        background: transparent;
        color: #eee;
    }
    .slider-detail {
        margin-bottom: 40px;
    }
}
@media (max-width: 767px){
    .container {
        max-width: 98%;
    }
    .user-bar{
        border-left: none;
        border-right: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-main .navbar-nav .nav-item{
        display: block;
        float: none;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
    .nav-main .navbar-nav .nav-item:hover > .dropdown-menu,
    .nav-main .navbar-nav .nav-item > .dropdown-menu  {
        position: initial;
        float: none;
        padding-left: 20px;
    }
    .list-product:after{
        position: initial;
    }
    .list-product:before,.list-product .line-grid:before {
        left: 50%;
    }
    .list-product .line-grid:after{
        display: none
    }
    .case-product .list-product {
        border: 1px solid #f1f2f2;
        border-top: none;
        border-bottom: none;
        margin-bottom: 0;
        display: none;
    }
    .case-product .btn-style.btn-view-more-ajax {
        border-radius: 0;
        display: block;
        padding: 15px 0;
        background: #f1f2f2;
        font-size: 110%;
        position: relative;
        display: none;
    }
    .case-product .tab-pane.active .btn-style.btn-view-more-ajax {
        background: #009be0;
        color: #FFF;
        display: block;
    }
    .case-product .tab-content>.tab-pane {
        display: block;
        opacity: 1
    }
    .case-product  .tab-pane.active .list-product{
        display: block;
    }
    .case-product .tab-content>.tab-pane+.tab-pane {
        margin-top: 20px;
    }
    .case-product {
        padding: 20px 0;
    }
    .case-quote {
        padding: 0;
        margin-bottom: 65px;
    }
    .inline-rtq {
        padding: 0 10px;
    }
    .case-inner-quote:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 30%;
        background: #FFF;
        z-index: 1;
    }
    .rating-quote{
        margin-bottom: 40px
    }
    .form-quote{
        margin:0;
    }
    .end-bar {
        margin-right: 0;
        display: block;
        float: none;
        text-align: center;
    }
    .end-bar .nav-link-blue {
        display: block;
    }
    .top-header {
        padding: 0 50px;
        position: relative;
    }
    .top-footer, .bottom-footer {
        padding: 40px 0;
    }
    .copy-right {
        margin-bottom: 20px;
    }
    .zoomContainer{
        display: none;
    }
    .tab-content-detail {
        padding: 0;
        background: transparent
    }
    .nav-tab-detail .nav-item{
        display: block;
        float: none;
    }
    .tab-content-detail .tab-pane-mm{
        padding: 20px;
        background: #f1f2f2;
        display: none;
    }
    .tab-content-detail .tab-pane{
        display: block;
        opacity: 1
    }
    .tab-content-detail .tab-pane+.tab-pane{
        margin-top:20px;
    }
    .tab-content-detail .tab-pane.active .nav-link {
        background: #009be0;
        color: #FFF;
    }
    .tab-content-detail .tab-pane.active .nav-link:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f1f2f2;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
    }
    .tab-content-detail .tab-pane.active .tab-pane-mm{
        display: block;
    }
    .group-heading {
        padding: 0 0 20px 0;
        margin-bottom: 0
    }
    .group-body {
        border: 1px solid #eee;
        border-top: none;
    }
    .select-filter{
        display: block;
        width: 100%;
        background: #f1f2f2
    }
    .bar-filter {
        background: transparent;
        padding: 0;
        font-size: 120%
    }
    .co-paging{
        background: #f1f2f2;
        padding: 20px
    }
    ._listings .list-product {
        margin-bottom: 0;
        position: relative;
        border: 1px solid #eee;
    }
    .product-sm .info-product {
        border-bottom: 1px solid #eee;
        margin: 0 5px;
    }
}
@media (max-width: 543px){
    .list-product:before{
        position: initial;
    }
    .list-product .line-grid{
        display: none;
    }
    .plugin-quantity {
        margin-bottom: 10px;
    }
    .grid-boot-sm {
        margin-bottom: 30px;
    }
    .owl-carousel .product-sm {
        border-right: none;
        border-bottom: none;
    }
    .title-footer {
        margin-bottom: 0;
        font-size: 120%;
        border-bottom: 1px solid #4d4c4c;
        padding: 10px 0;
        position: relative;
    }
    .title-footer:before{
        content: "\f078";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 84%;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        right: 10px
    }
    .title-footer.collapsed:before{
        content: "\f054";
    }
    .title-footer.collapsed {
        color: #FFF;
    }
}

